Deeply nested selectors

I am reaching for help as I am trying to create deeply nested selectors but I am getting Typescript errors that I can't fix myself.

I currently have a selector that looks like this:

```
export const oneProjectSelector = Selectors.query({
  project: {
    id: true,
    name: true,
    status: true,
    collaborators: [
      {
        limit: 3,
      },
      {
        id: true,
        avatar: {
          id: true,
          url: true,
        },
      },
    ],
    created_at: true,
    updated_at: true,
  },
} as const)
```

My query hook looks like this:
```
export const useQueryProject = (id?: string) => {
  return useQuery(
    'project',
    () => {
      return typeof id !== 'undefined'
        ? chain()
            .query({
              project: [
                {
                  id,
                },
                oneProjectSelector.project,
              ],
            })
            .then((response) => response)
        : Promise.reject(new Error('Invalid id'))
    },
    {
      enabled: Boolean(id),
    },
  )
}
```

Everything would work well if it was not for the `collaborators` field. When I add the collaborators field to the selector I get the following typescript error:

```
The type 'readonly [{ readonly limit: 3; }, { readonly id: true; readonly avatar: { readonly id: true; readonly url: true; }; }]' is 'readonly' and cannot be assigned to the mutable type '[{ sort?: string | null | undefined; limit?: number | null | undefined; start?: number | null | undefined; where?: unknown; }, AliasType<{ id?: true | undefined; created_at?: true | undefined; updated_at?: true | undefined; ... 20 more ...; __typename?: true | undefined; }>]'.
```

Besides that, the typing gets broken and the function only returns `never` types.
I have tried not to use the `as const` in the selector but in that case I will get other errors like this one:

```
Types of property 'id' are incompatible.
Type 'boolean' is not assignable to type 'true | undefined'.
````

Anyone might have a hint on how to do deeply nested selectors?
Also it would be great to know how to pass different values to the argument `limit` for example...

Ok, here is the schema:

```
input FileInfoInput {
  name: String
  alternativeText: String
  caption: String
}

type UsersPermissionsMe {
  id: ID!
  username: String!
  email: String!
  confirmed: Boolean
  blocked: Boolean
  role: UsersPermissionsMeRole
}

type UsersPermissionsMeRole {
  id: ID!
  name: String!
  description: String
  type: String
}

input UsersPermissionsRegisterInput {
  username: String!
  email: String!
  password: String!
}

input UsersPermissionsLoginInput {
  identifier: String!
  password: String!
  provider: String = "local"
}

type UsersPermissionsLoginPayload {
  jwt: String
  user: UsersPermissionsMe!
}

type UserPermissionsPasswordPayload {
  ok: Boolean!
}

enum ENUM_CARD_TYPE {
  PRIVATE
  PUBLIC
}

enum ENUM_CARD_CHECKINSTATUS {
  WITH_OWNER
  CHECKED_IN
  RETURNED
  IN_TRANSIT
}

enum ENUM_CARD_REQUESTSTATUS {
  PENDING
  CONFIRMED
  CANCELLED
}

type Card {
  id: ID!
  created_at: DateTime!
  updated_at: DateTime!
  name: String!
  designer: String
  providerName: String
  season: String
  notes: String
  lookNumber: String
  returnStreetName: String
  returnStreetNumber: String
  returnZipCode: String
  returnCity: String
  returnCountry: String
  returnDate: Date
  type: ENUM_CARD_TYPE!
  project: Project
  coverImage: UploadFile
  owner: UsersPermissionsUser
  pullOwner: String
  contactEmail: String
  contactPhone: String
  trackingCode: String
  checkInStatus: ENUM_CARD_CHECKINSTATUS
  requestStatus: ENUM_CARD_REQUESTSTATUS
  category: JSON
  collaborators(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): [UsersPermissionsUser]
  checkInImages(sort: String, limit: Int, start: Int, where: JSON): [UploadFile]
  checkOutImages(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): [UploadFile]
}

type CardConnection {
  values: [Card]
  groupBy: CardGroupBy
  aggregate: CardAggregator
}

type CardAggregator {
  count: Int
  totalCount: Int
}

type CardGroupBy {
  id: [CardConnectionId]
  created_at: [CardConnectionCreated_at]
  updated_at: [CardConnectionUpdated_at]
  name: [CardConnectionName]
  designer: [CardConnectionDesigner]
  providerName: [CardConnectionProviderName]
  season: [CardConnectionSeason]
  notes: [CardConnectionNotes]
  lookNumber: [CardConnectionLookNumber]
  returnStreetName: [CardConnectionReturnStreetName]
  returnStreetNumber: [CardConnectionReturnStreetNumber]
  returnZipCode: [CardConnectionReturnZipCode]
  returnCity: [CardConnectionReturnCity]
  returnCountry: [CardConnectionReturnCountry]
  returnDate: [CardConnectionReturnDate]
  type: [CardConnectionType]
  project: [CardConnectionProject]
  coverImage: [CardConnectionCoverImage]
  owner: [CardConnectionOwner]
  pullOwner: [CardConnectionPullOwner]
  contactEmail: [CardConnectionContactEmail]
  contactPhone: [CardConnectionContactPhone]
  trackingCode: [CardConnectionTrackingCode]
  checkInStatus: [CardConnectionCheckInStatus]
  requestStatus: [CardConnectionRequestStatus]
  category: [CardConnectionCategory]
}

type CardConnectionId {
  key: ID
  connection: CardConnection
}

type CardConnectionCreated_at {
  key: DateTime
  connection: CardConnection
}

type CardConnectionUpdated_at {
  key: DateTime
  connection: CardConnection
}

type CardConnectionName {
  key: String
  connection: CardConnection
}

type CardConnectionDesigner {
  key: String
  connection: CardConnection
}

type CardConnectionProviderName {
  key: String
  connection: CardConnection
}

type CardConnectionSeason {
  key: String
  connection: CardConnection
}

type CardConnectionNotes {
  key: String
  connection: CardConnection
}

type CardConnectionLookNumber {
  key: String
  connection: CardConnection
}

type CardConnectionReturnStreetName {
  key: String
  connection: CardConnection
}

type CardConnectionReturnStreetNumber {
  key: String
  connection: CardConnection
}

type CardConnectionReturnZipCode {
  key: String
  connection: CardConnection
}

type CardConnectionReturnCity {
  key: String
  connection: CardConnection
}

type CardConnectionReturnCountry {
  key: String
  connection: CardConnection
}

type CardConnectionReturnDate {
  key: ID
  connection: CardConnection
}

type CardConnectionType {
  key: String
  connection: CardConnection
}

type CardConnectionProject {
  key: ID
  connection: CardConnection
}

type CardConnectionCoverImage {
  key: ID
  connection: CardConnection
}

type CardConnectionOwner {
  key: ID
  connection: CardConnection
}

type CardConnectionPullOwner {
  key: String
  connection: CardConnection
}

type CardConnectionContactEmail {
  key: String
  connection: CardConnection
}

type CardConnectionContactPhone {
  key: String
  connection: CardConnection
}

type CardConnectionTrackingCode {
  key: String
  connection: CardConnection
}

type CardConnectionCheckInStatus {
  key: String
  connection: CardConnection
}

type CardConnectionRequestStatus {
  key: String
  connection: CardConnection
}

type CardConnectionCategory {
  key: JSON
  connection: CardConnection
}

input CardInput {
  name: String!
  designer: String
  providerName: String
  season: String
  notes: String
  lookNumber: String
  returnStreetName: String
  returnStreetNumber: String
  returnZipCode: String
  returnCity: String
  returnCountry: String
  returnDate: Date
  type: ENUM_CARD_TYPE
  collaborators: [ID]
  project: ID
  coverImage: ID
  checkInImages: [ID]
  checkOutImages: [ID]
  owner: ID
  pullOwner: String
  contactEmail: String
  contactPhone: String
  trackingCode: String
  checkInStatus: ENUM_CARD_CHECKINSTATUS
  requestStatus: ENUM_CARD_REQUESTSTATUS
  category: JSON
  created_by: ID
  updated_by: ID
}

input editCardInput {
  name: String
  designer: String
  providerName: String
  season: String
  notes: String
  lookNumber: String
  returnStreetName: String
  returnStreetNumber: String
  returnZipCode: String
  returnCity: String
  returnCountry: String
  returnDate: Date
  type: ENUM_CARD_TYPE
  collaborators: [ID]
  project: ID
  coverImage: ID
  checkInImages: [ID]
  checkOutImages: [ID]
  owner: ID
  pullOwner: String
  contactEmail: String
  contactPhone: String
  trackingCode: String
  checkInStatus: ENUM_CARD_CHECKINSTATUS
  requestStatus: ENUM_CARD_REQUESTSTATUS
  category: JSON
  created_by: ID
  updated_by: ID
}

input createCardInput {
  data: CardInput
}

type createCardPayload {
  card: Card
}

input updateCardInput {
  where: InputID
  data: editCardInput
}

type updateCardPayload {
  card: Card
}

input deleteCardInput {
  where: InputID
}

type deleteCardPayload {
  card: Card
}

enum ENUM_PROJECT_STATUS {
  ACTIVE
  ARCHIVED
  DRAFT
}

type Project {
  id: ID!
  created_at: DateTime!
  updated_at: DateTime!
  status: ENUM_PROJECT_STATUS!
  name: String!
  client: String
  talent: String
  notes: String
  samplesInDate: Date
  startDate: Date
  endDate: Date
  owner: UsersPermissionsUser
  stylist: String
  photographer: String
  samplesOutDate: Date
  runThroughDate: Date
  locationStreetName: String
  locationStreetNumber: String
  locationZipCode: String
  locationCountry: String
  locationCity: String
  dropOffStreetName: String
  dropOffStreetNumber: String
  dropOffCity: String
  dropOffCountry: String
  dropOffZipCode: String
  pickUpStreetName: String
  pickUpStreetNumber: String
  pickUpCity: String
  pickUpZipCode: String
  pickUpCountry: String
  cards(sort: String, limit: Int, start: Int, where: JSON): [Card]
  collaborators(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): [UsersPermissionsUser]
}

type ProjectConnection {
  values: [Project]
  groupBy: ProjectGroupBy
  aggregate: ProjectAggregator
}

type ProjectAggregator {
  count: Int
  totalCount: Int
}

type ProjectGroupBy {
  id: [ProjectConnectionId]
  created_at: [ProjectConnectionCreated_at]
  updated_at: [ProjectConnectionUpdated_at]
  status: [ProjectConnectionStatus]
  name: [ProjectConnectionName]
  client: [ProjectConnectionClient]
  talent: [ProjectConnectionTalent]
  notes: [ProjectConnectionNotes]
  samplesInDate: [ProjectConnectionSamplesInDate]
  startDate: [ProjectConnectionStartDate]
  endDate: [ProjectConnectionEndDate]
  owner: [ProjectConnectionOwner]
  stylist: [ProjectConnectionStylist]
  photographer: [ProjectConnectionPhotographer]
  samplesOutDate: [ProjectConnectionSamplesOutDate]
  runThroughDate: [ProjectConnectionRunThroughDate]
  locationStreetName: [ProjectConnectionLocationStreetName]
  locationStreetNumber: [ProjectConnectionLocationStreetNumber]
  locationZipCode: [ProjectConnectionLocationZipCode]
  locationCountry: [ProjectConnectionLocationCountry]
  locationCity: [ProjectConnectionLocationCity]
  dropOffStreetName: [ProjectConnectionDropOffStreetName]
  dropOffStreetNumber: [ProjectConnectionDropOffStreetNumber]
  dropOffCity: [ProjectConnectionDropOffCity]
  dropOffCountry: [ProjectConnectionDropOffCountry]
  dropOffZipCode: [ProjectConnectionDropOffZipCode]
  pickUpStreetName: [ProjectConnectionPickUpStreetName]
  pickUpStreetNumber: [ProjectConnectionPickUpStreetNumber]
  pickUpCity: [ProjectConnectionPickUpCity]
  pickUpZipCode: [ProjectConnectionPickUpZipCode]
  pickUpCountry: [ProjectConnectionPickUpCountry]
}

type ProjectConnectionId {
  key: ID
  connection: ProjectConnection
}

type ProjectConnectionCreated_at {
  key: DateTime
  connection: ProjectConnection
}

type ProjectConnectionUpdated_at {
  key: DateTime
  connection: ProjectConnection
}

type ProjectConnectionStatus {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionName {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionClient {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionTalent {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionNotes {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionSamplesInDate {
  key: ID
  connection: ProjectConnection
}

type ProjectConnectionStartDate {
  key: ID
  connection: ProjectConnection
}

type ProjectConnectionEndDate {
  key: ID
  connection: ProjectConnection
}

type ProjectConnectionOwner {
  key: ID
  connection: ProjectConnection
}

type ProjectConnectionStylist {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionPhotographer {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionSamplesOutDate {
  key: ID
  connection: ProjectConnection
}

type ProjectConnectionRunThroughDate {
  key: ID
  connection: ProjectConnection
}

type ProjectConnectionLocationStreetName {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionLocationStreetNumber {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionLocationZipCode {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionLocationCountry {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionLocationCity {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionDropOffStreetName {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionDropOffStreetNumber {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionDropOffCity {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionDropOffCountry {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionDropOffZipCode {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionPickUpStreetName {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionPickUpStreetNumber {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionPickUpCity {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionPickUpZipCode {
  key: String
  connection: ProjectConnection
}

type ProjectConnectionPickUpCountry {
  key: String
  connection: ProjectConnection
}

input ProjectInput {
  status: ENUM_PROJECT_STATUS
  name: String!
  client: String
  talent: String
  notes: String
  samplesInDate: Date
  startDate: Date
  endDate: Date
  cards: [ID]
  owner: ID
  collaborators: [ID]
  stylist: String
  photographer: String
  samplesOutDate: Date
  runThroughDate: Date
  locationStreetName: String
  locationStreetNumber: String
  locationZipCode: String
  locationCountry: String
  locationCity: String
  dropOffStreetName: String
  dropOffStreetNumber: String
  dropOffCity: String
  dropOffCountry: String
  dropOffZipCode: String
  pickUpStreetName: String
  pickUpStreetNumber: String
  pickUpCity: String
  pickUpZipCode: String
  pickUpCountry: String
  created_by: ID
  updated_by: ID
}

input editProjectInput {
  status: ENUM_PROJECT_STATUS
  name: String
  client: String
  talent: String
  notes: String
  samplesInDate: Date
  startDate: Date
  endDate: Date
  cards: [ID]
  owner: ID
  collaborators: [ID]
  stylist: String
  photographer: String
  samplesOutDate: Date
  runThroughDate: Date
  locationStreetName: String
  locationStreetNumber: String
  locationZipCode: String
  locationCountry: String
  locationCity: String
  dropOffStreetName: String
  dropOffStreetNumber: String
  dropOffCity: String
  dropOffCountry: String
  dropOffZipCode: String
  pickUpStreetName: String
  pickUpStreetNumber: String
  pickUpCity: String
  pickUpZipCode: String
  pickUpCountry: String
  created_by: ID
  updated_by: ID
}

input createProjectInput {
  data: ProjectInput
}

type createProjectPayload {
  project: Project
}

input updateProjectInput {
  where: InputID
  data: editProjectInput
}

type updateProjectPayload {
  project: Project
}

input deleteProjectInput {
  where: InputID
}

type deleteProjectPayload {
  project: Project
}

type I18NLocale {
  id: ID!
  created_at: DateTime!
  updated_at: DateTime!
  name: String
  code: String
}

input LocaleInput {
  name: String
  code: String
  created_by: ID
  updated_by: ID
}

input editLocaleInput {
  name: String
  code: String
  created_by: ID
  updated_by: ID
}

type UploadFile {
  id: ID!
  created_at: DateTime!
  updated_at: DateTime!
  name: String!
  alternativeText: String
  caption: String
  width: Int
  height: Int
  formats: JSON
  hash: String!
  ext: String
  mime: String!
  size: Float!
  url: String!
  previewUrl: String
  provider: String!
  provider_metadata: JSON
  related(sort: String, limit: Int, start: Int, where: JSON): [Morph]
}

type UploadFileConnection {
  values: [UploadFile]
  groupBy: UploadFileGroupBy
  aggregate: UploadFileAggregator
}

type UploadFileAggregator {
  count: Int
  totalCount: Int
  sum: UploadFileAggregatorSum
  avg: UploadFileAggregatorAvg
  min: UploadFileAggregatorMin
  max: UploadFileAggregatorMax
}

type UploadFileAggregatorSum {
  width: Float
  height: Float
  size: Float
}

type UploadFileAggregatorAvg {
  width: Float
  height: Float
  size: Float
}

type UploadFileAggregatorMin {
  width: Float
  height: Float
  size: Float
}

type UploadFileAggregatorMax {
  width: Float
  height: Float
  size: Float
}

type UploadFileGroupBy {
  id: [UploadFileConnectionId]
  created_at: [UploadFileConnectionCreated_at]
  updated_at: [UploadFileConnectionUpdated_at]
  name: [UploadFileConnectionName]
  alternativeText: [UploadFileConnectionAlternativeText]
  caption: [UploadFileConnectionCaption]
  width: [UploadFileConnectionWidth]
  height: [UploadFileConnectionHeight]
  formats: [UploadFileConnectionFormats]
  hash: [UploadFileConnectionHash]
  ext: [UploadFileConnectionExt]
  mime: [UploadFileConnectionMime]
  size: [UploadFileConnectionSize]
  url: [UploadFileConnectionUrl]
  previewUrl: [UploadFileConnectionPreviewUrl]
  provider: [UploadFileConnectionProvider]
  provider_metadata: [UploadFileConnectionProvider_metadata]
}

type UploadFileConnectionId {
  key: ID
  connection: UploadFileConnection
}

type UploadFileConnectionCreated_at {
  key: DateTime
  connection: UploadFileConnection
}

type UploadFileConnectionUpdated_at {
  key: DateTime
  connection: UploadFileConnection
}

type UploadFileConnectionName {
  key: String
  connection: UploadFileConnection
}

type UploadFileConnectionAlternativeText {
  key: String
  connection: UploadFileConnection
}

type UploadFileConnectionCaption {
  key: String
  connection: UploadFileConnection
}

type UploadFileConnectionWidth {
  key: Int
  connection: UploadFileConnection
}

type UploadFileConnectionHeight {
  key: Int
  connection: UploadFileConnection
}

type UploadFileConnectionFormats {
  key: JSON
  connection: UploadFileConnection
}

type UploadFileConnectionHash {
  key: String
  connection: UploadFileConnection
}

type UploadFileConnectionExt {
  key: String
  connection: UploadFileConnection
}

type UploadFileConnectionMime {
  key: String
  connection: UploadFileConnection
}

type UploadFileConnectionSize {
  key: Float
  connection: UploadFileConnection
}

type UploadFileConnectionUrl {
  key: String
  connection: UploadFileConnection
}

type UploadFileConnectionPreviewUrl {
  key: String
  connection: UploadFileConnection
}

type UploadFileConnectionProvider {
  key: String
  connection: UploadFileConnection
}

type UploadFileConnectionProvider_metadata {
  key: JSON
  connection: UploadFileConnection
}

input FileInput {
  name: String!
  alternativeText: String
  caption: String
  width: Int
  height: Int
  formats: JSON
  hash: String!
  ext: String
  mime: String!
  size: Float!
  url: String!
  previewUrl: String
  provider: String!
  provider_metadata: JSON
  related: [ID]
  created_by: ID
  updated_by: ID
}

input editFileInput {
  name: String
  alternativeText: String
  caption: String
  width: Int
  height: Int
  formats: JSON
  hash: String
  ext: String
  mime: String
  size: Float
  url: String
  previewUrl: String
  provider: String
  provider_metadata: JSON
  related: [ID]
  created_by: ID
  updated_by: ID
}

input deleteFileInput {
  where: InputID
}

type deleteFilePayload {
  file: UploadFile
}

type UsersPermissionsPermission {
  id: ID!
  type: String!
  controller: String!
  action: String!
  enabled: Boolean!
  policy: String
  role: UsersPermissionsRole
}

type UsersPermissionsRole {
  id: ID!
  name: String!
  description: String
  type: String
  permissions(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): [UsersPermissionsPermission]
  users(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): [UsersPermissionsUser]
}

type UsersPermissionsRoleConnection {
  values: [UsersPermissionsRole]
  groupBy: UsersPermissionsRoleGroupBy
  aggregate: UsersPermissionsRoleAggregator
}

type UsersPermissionsRoleAggregator {
  count: Int
  totalCount: Int
}

type UsersPermissionsRoleGroupBy {
  id: [UsersPermissionsRoleConnectionId]
  name: [UsersPermissionsRoleConnectionName]
  description: [UsersPermissionsRoleConnectionDescription]
  type: [UsersPermissionsRoleConnectionType]
}

type UsersPermissionsRoleConnectionId {
  key: ID
  connection: UsersPermissionsRoleConnection
}

type UsersPermissionsRoleConnectionName {
  key: String
  connection: UsersPermissionsRoleConnection
}

type UsersPermissionsRoleConnectionDescription {
  key: String
  connection: UsersPermissionsRoleConnection
}

type UsersPermissionsRoleConnectionType {
  key: String
  connection: UsersPermissionsRoleConnection
}

input RoleInput {
  name: String!
  description: String
  type: String
  permissions: [ID]
  users: [ID]
  created_by: ID
  updated_by: ID
}

input editRoleInput {
  name: String
  description: String
  type: String
  permissions: [ID]
  users: [ID]
  created_by: ID
  updated_by: ID
}

input createRoleInput {
  data: RoleInput
}

type createRolePayload {
  role: UsersPermissionsRole
}

input updateRoleInput {
  where: InputID
  data: editRoleInput
}

type updateRolePayload {
  role: UsersPermissionsRole
}

input deleteRoleInput {
  where: InputID
}

type deleteRolePayload {
  role: UsersPermissionsRole
}

enum ENUM_USERSPERMISSIONSUSER_POSITION {
  STYLIST
  STYLIST_ASSISTANT
  MARKET_EDITOR
  FASHION_DIRECTOR
  OTHER
}

type UsersPermissionsUser {
  id: ID!
  created_at: DateTime!
  updated_at: DateTime!
  username: String!
  email: String!
  provider: String
  confirmed: Boolean
  blocked: Boolean
  role: UsersPermissionsRole
  avatar: UploadFile
  firstName: String
  lastName: String
  city: String
  website: String
  socialLink: String
  position: ENUM_USERSPERMISSIONSUSER_POSITION
  logo: UploadFile
  publication: String
  country: String
  typesOfStyle: JSON
  projectsOwn(sort: String, limit: Int, start: Int, where: JSON): [Project]
  projectsCollaborating(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): [Project]
  cardsOwn(sort: String, limit: Int, start: Int, where: JSON): [Card]
}

type UsersPermissionsUserConnection {
  values: [UsersPermissionsUser]
  groupBy: UsersPermissionsUserGroupBy
  aggregate: UsersPermissionsUserAggregator
}

type UsersPermissionsUserAggregator {
  count: Int
  totalCount: Int
}

type UsersPermissionsUserGroupBy {
  id: [UsersPermissionsUserConnectionId]
  created_at: [UsersPermissionsUserConnectionCreated_at]
  updated_at: [UsersPermissionsUserConnectionUpdated_at]
  username: [UsersPermissionsUserConnectionUsername]
  email: [UsersPermissionsUserConnectionEmail]
  provider: [UsersPermissionsUserConnectionProvider]
  confirmed: [UsersPermissionsUserConnectionConfirmed]
  blocked: [UsersPermissionsUserConnectionBlocked]
  role: [UsersPermissionsUserConnectionRole]
  avatar: [UsersPermissionsUserConnectionAvatar]
  firstName: [UsersPermissionsUserConnectionFirstName]
  lastName: [UsersPermissionsUserConnectionLastName]
  city: [UsersPermissionsUserConnectionCity]
  website: [UsersPermissionsUserConnectionWebsite]
  socialLink: [UsersPermissionsUserConnectionSocialLink]
  position: [UsersPermissionsUserConnectionPosition]
  logo: [UsersPermissionsUserConnectionLogo]
  publication: [UsersPermissionsUserConnectionPublication]
  country: [UsersPermissionsUserConnectionCountry]
  typesOfStyle: [UsersPermissionsUserConnectionTypesOfStyle]
}

type UsersPermissionsUserConnectionId {
  key: ID
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionCreated_at {
  key: DateTime
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionUpdated_at {
  key: DateTime
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionUsername {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionEmail {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionProvider {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionConfirmed {
  key: Boolean
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionBlocked {
  key: Boolean
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionRole {
  key: ID
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionAvatar {
  key: ID
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionFirstName {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionLastName {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionCity {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionWebsite {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionSocialLink {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionPosition {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionLogo {
  key: ID
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionPublication {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionCountry {
  key: String
  connection: UsersPermissionsUserConnection
}

type UsersPermissionsUserConnectionTypesOfStyle {
  key: JSON
  connection: UsersPermissionsUserConnection
}

input UserInput {
  username: String!
  email: String!
  provider: String
  password: String
  resetPasswordToken: String
  confirmationToken: String
  confirmed: Boolean
  blocked: Boolean
  role: ID
  projectsOwn: [ID]
  projectsCollaborating: [ID]
  avatar: ID
  cardsOwn: [ID]
  firstName: String
  lastName: String
  city: String
  website: String
  socialLink: String
  position: ENUM_USERSPERMISSIONSUSER_POSITION
  logo: ID
  publication: String
  country: String
  typesOfStyle: JSON
  created_by: ID
  updated_by: ID
}

input editUserInput {
  username: String
  email: String
  provider: String
  password: String
  resetPasswordToken: String
  confirmationToken: String
  confirmed: Boolean
  blocked: Boolean
  role: ID
  projectsOwn: [ID]
  projectsCollaborating: [ID]
  avatar: ID
  cardsOwn: [ID]
  firstName: String
  lastName: String
  city: String
  website: String
  socialLink: String
  position: ENUM_USERSPERMISSIONSUSER_POSITION
  logo: ID
  publication: String
  country: String
  typesOfStyle: JSON
  created_by: ID
  updated_by: ID
}

input createUserInput {
  data: UserInput
}

type createUserPayload {
  user: UsersPermissionsUser
}

input updateUserInput {
  where: InputID
  data: editUserInput
}

type updateUserPayload {
  user: UsersPermissionsUser
}

input deleteUserInput {
  where: InputID
}

type deleteUserPayload {
  user: UsersPermissionsUser
}

union Morph =
    UsersPermissionsMe
  | UsersPermissionsMeRole
  | UsersPermissionsLoginPayload
  | UserPermissionsPasswordPayload
  | Card
  | CardConnection
  | CardAggregator
  | CardGroupBy
  | CardConnectionId
  | CardConnectionCreated_at
  | CardConnectionUpdated_at
  | CardConnectionName
  | CardConnectionDesigner
  | CardConnectionProviderName
  | CardConnectionSeason
  | CardConnectionNotes
  | CardConnectionLookNumber
  | CardConnectionReturnStreetName
  | CardConnectionReturnStreetNumber
  | CardConnectionReturnZipCode
  | CardConnectionReturnCity
  | CardConnectionReturnCountry
  | CardConnectionReturnDate
  | CardConnectionType
  | CardConnectionProject
  | CardConnectionCoverImage
  | CardConnectionOwner
  | CardConnectionPullOwner
  | CardConnectionContactEmail
  | CardConnectionContactPhone
  | CardConnectionTrackingCode
  | CardConnectionCheckInStatus
  | CardConnectionRequestStatus
  | CardConnectionCategory
  | createCardPayload
  | updateCardPayload
  | deleteCardPayload
  | Project
  | ProjectConnection
  | ProjectAggregator
  | ProjectGroupBy
  | ProjectConnectionId
  | ProjectConnectionCreated_at
  | ProjectConnectionUpdated_at
  | ProjectConnectionStatus
  | ProjectConnectionName
  | ProjectConnectionClient
  | ProjectConnectionTalent
  | ProjectConnectionNotes
  | ProjectConnectionSamplesInDate
  | ProjectConnectionStartDate
  | ProjectConnectionEndDate
  | ProjectConnectionOwner
  | ProjectConnectionStylist
  | ProjectConnectionPhotographer
  | ProjectConnectionSamplesOutDate
  | ProjectConnectionRunThroughDate
  | ProjectConnectionLocationStreetName
  | ProjectConnectionLocationStreetNumber
  | ProjectConnectionLocationZipCode
  | ProjectConnectionLocationCountry
  | ProjectConnectionLocationCity
  | ProjectConnectionDropOffStreetName
  | ProjectConnectionDropOffStreetNumber
  | ProjectConnectionDropOffCity
  | ProjectConnectionDropOffCountry
  | ProjectConnectionDropOffZipCode
  | ProjectConnectionPickUpStreetName
  | ProjectConnectionPickUpStreetNumber
  | ProjectConnectionPickUpCity
  | ProjectConnectionPickUpZipCode
  | ProjectConnectionPickUpCountry
  | createProjectPayload
  | updateProjectPayload
  | deleteProjectPayload
  | I18NLocale
  | UploadFile
  | UploadFileConnection
  | UploadFileAggregator
  | UploadFileAggregatorSum
  | UploadFileAggregatorAvg
  | UploadFileAggregatorMin
  | UploadFileAggregatorMax
  | UploadFileGroupBy
  | UploadFileConnectionId
  | UploadFileConnectionCreated_at
  | UploadFileConnectionUpdated_at
  | UploadFileConnectionName
  | UploadFileConnectionAlternativeText
  | UploadFileConnectionCaption
  | UploadFileConnectionWidth
  | UploadFileConnectionHeight
  | UploadFileConnectionFormats
  | UploadFileConnectionHash
  | UploadFileConnectionExt
  | UploadFileConnectionMime
  | UploadFileConnectionSize
  | UploadFileConnectionUrl
  | UploadFileConnectionPreviewUrl
  | UploadFileConnectionProvider
  | UploadFileConnectionProvider_metadata
  | deleteFilePayload
  | UsersPermissionsPermission
  | UsersPermissionsRole
  | UsersPermissionsRoleConnection
  | UsersPermissionsRoleAggregator
  | UsersPermissionsRoleGroupBy
  | UsersPermissionsRoleConnectionId
  | UsersPermissionsRoleConnectionName
  | UsersPermissionsRoleConnectionDescription
  | UsersPermissionsRoleConnectionType
  | createRolePayload
  | updateRolePayload
  | deleteRolePayload
  | UsersPermissionsUser
  | UsersPermissionsUserConnection
  | UsersPermissionsUserAggregator
  | UsersPermissionsUserGroupBy
  | UsersPermissionsUserConnectionId
  | UsersPermissionsUserConnectionCreated_at
  | UsersPermissionsUserConnectionUpdated_at
  | UsersPermissionsUserConnectionUsername
  | UsersPermissionsUserConnectionEmail
  | UsersPermissionsUserConnectionProvider
  | UsersPermissionsUserConnectionConfirmed
  | UsersPermissionsUserConnectionBlocked
  | UsersPermissionsUserConnectionRole
  | UsersPermissionsUserConnectionAvatar
  | UsersPermissionsUserConnectionFirstName
  | UsersPermissionsUserConnectionLastName
  | UsersPermissionsUserConnectionCity
  | UsersPermissionsUserConnectionWebsite
  | UsersPermissionsUserConnectionSocialLink
  | UsersPermissionsUserConnectionPosition
  | UsersPermissionsUserConnectionLogo
  | UsersPermissionsUserConnectionPublication
  | UsersPermissionsUserConnectionCountry
  | UsersPermissionsUserConnectionTypesOfStyle
  | createUserPayload
  | updateUserPayload
  | deleteUserPayload

input InputID {
  id: ID!
}

enum PublicationState {
  LIVE
  PREVIEW
}

type AdminUser {
  id: ID!
  username: String
  firstname: String!
  lastname: String!
}

type Query {
  card(id: ID!, publicationState: PublicationState): Card
  cards(
    sort: String
    limit: Int
    start: Int
    where: JSON
    publicationState: PublicationState
  ): [Card]
  cardsConnection(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): CardConnection
  project(id: ID!, publicationState: PublicationState): Project
  projects(
    sort: String
    limit: Int
    start: Int
    where: JSON
    publicationState: PublicationState
  ): [Project]
  projectsConnection(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): ProjectConnection
  files(
    sort: String
    limit: Int
    start: Int
    where: JSON
    publicationState: PublicationState
  ): [UploadFile]
  filesConnection(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): UploadFileConnection
  role(id: ID!, publicationState: PublicationState): UsersPermissionsRole

  # Retrieve all the existing roles. You can't apply filters on this query.
  roles(
    sort: String
    limit: Int
    start: Int
    where: JSON
    publicationState: PublicationState
  ): [UsersPermissionsRole]
  rolesConnection(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): UsersPermissionsRoleConnection
  user(id: ID!, publicationState: PublicationState): UsersPermissionsUser
  users(
    sort: String
    limit: Int
    start: Int
    where: JSON
    publicationState: PublicationState
  ): [UsersPermissionsUser]
  usersConnection(
    sort: String
    limit: Int
    start: Int
    where: JSON
  ): UsersPermissionsUserConnection
  me: UsersPermissionsMe
}

type Mutation {
  createCard(input: createCardInput): createCardPayload
  updateCard(input: updateCardInput): updateCardPayload
  deleteCard(input: deleteCardInput): deleteCardPayload
  createProject(input: createProjectInput): createProjectPayload
  updateProject(input: updateProjectInput): updateProjectPayload
  deleteProject(input: deleteProjectInput): deleteProjectPayload

  # Delete one file
  deleteFile(input: deleteFileInput): deleteFilePayload

  # Create a new role
  createRole(input: createRoleInput): createRolePayload

  # Update an existing role
  updateRole(input: updateRoleInput): updateRolePayload

  # Delete an existing role
  deleteRole(input: deleteRoleInput): deleteRolePayload

  # Create a new user
  createUser(input: createUserInput): createUserPayload

  # Update an existing user
  updateUser(input: updateUserInput): updateUserPayload

  # Delete an existing user
  deleteUser(input: deleteUserInput): deleteUserPayload
  upload(
    refId: ID
    ref: String
    field: String
    source: String
    info: FileInfoInput
    file: Upload!
  ): UploadFile!
  multipleUpload(
    refId: ID
    ref: String
    field: String
    source: String
    files: [Upload]!
  ): [UploadFile]!
  updateFileInfo(id: ID!, info: FileInfoInput!): UploadFile!
  login(input: UsersPermissionsLoginInput!): UsersPermissionsLoginPayload!
  register(input: UsersPermissionsRegisterInput!): UsersPermissionsLoginPayload!
  forgotPassword(email: String!): UserPermissionsPasswordPayload
  resetPassword(
    password: String!
    passwordConfirmation: String!
    code: String!
  ): UsersPermissionsLoginPayload
  emailConfirmation(confirmation: String!): UsersPermissionsLoginPayload
}

# The `JSON` scalar type represents JSON values as specified by [ECMA-404](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf).
scalar JSON

# A date-time string at UTC, such as 2007-12-03T10:15:30Z, compliant with the `date-time` format outlined in section 5.6 of the RFC 3339 profile of the ISO 8601 standard for representation of dates and times using the Gregorian calendar.
scalar DateTime

# A time string with format: HH:mm:ss.SSS
scalar Time

# A date string, such as 2007-12-03, compliant with the `full-date` format outlined in section 5.6 of the RFC 3339 profile of the ISO 8601 standard for representation of dates and times using the Gregorian calendar.
scalar Date

# The `Long` scalar type represents 52-bit integers
scalar Long

# The `Upload` scalar type represents a file upload.
scalar Upload

schema {
  query: Query,
  mutation: Mutation,
#  subscription: Subscription
}

```


You are right, it is `created_by` and not `created_at`. But this does not change the problem.
I am using `Typescript` version `4.3.5`